.bank-detail-form-container {
  position: relative;
  box-sizing: border-box;
}
.account-type-full {
  width: 150px;
}
.account-type-half {
  width: 80px;
}
.account-type-input-cont {
  width: 50%;
}
.account-input-cont {
  width: 20%;
}
.amount-input-cont {
  width: 20%;
}
.interest-rate-input {
  width: 50%;
}
.account-type-select-cont {
  width: 300px;
}