.pie-chart-container {
  box-sizing: border-box;
}
.pie-chart-container ul.pie-chart-colors {
  list-style: none;
}
.pie-chart-container .chart-stat {
  font-size: 0.9em;
}
div.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
}
div.color-box.correct {
  background-color: #00C49F;
}
div.color-box.wrong {
  background-color: #FF0000;
}
div.color-box.not-attempted {
  background-color: #FFBB28;
}