.quiz-container {
  position: relative;
  height: 450px;
  width: 500px;
  padding: 16px 64px;
}

.btn-right-icon {
  position: absolute;
  z-index: 10;
  top: 180px;
  right: -30px;  
}

.btn-left-icon {
  position: absolute;
  z-index: 10;
  top: 180px;
  left: -30px;
}